pkgbase = servus-player
	pkgdesc = servus-player
	pkgver = 0.0.2
	pkgrel = 1
	url = https://github.com/DictumMortuum/servus-extapi
	arch = x86_64
	arch = armv7h
	arch = aarch64
	license = APACHE
	makedepends = go
	source = servus-player.tar.gz::https://github.com/DictumMortuum/servus-extapi/archive/refs/heads/master.tar.gz
	sha256sums = SKIP

pkgname = servus-player
